/*start(main) ---*/
.ic_ui_main {
  padding: 5px 10px;
  font-family: Helvetica, Arial, sans-serif;
  background: #eee;
  min-width: 500px;
}

.ic_ui_main a,
.ic_ui_main a:visited {
  color: #429e47;
  text-decoration: none;
}

.ic_ui_main a:hover,
.ic_ui_main a:focus {
  color: #3fbf46;
  text-decoration: none;
}

.ic_ui_main a:active {
  color: #63664b;
}

.ic_ui_main p {
  font-size: 15px;
  color: #777;
}

.ic_ui_main hr {
  margin: 7px 0;
  padding: 0;
  border: 0;
  border-top: 1px solid #ccc;
}
/*end(main) ---*/

/*start(header) ---*/
.ic_ui_header {
  color: #333;
  font-size: 15px;
}

.ic_ui_header h3 {
  margin: 0;
  padding: 0;
  font-size: 17px;
  color: #696969;
}

.ic_ui_header h3 a {
  padding: 0 9px;
  font-size: 15px;
}
/*end(header) ---*/

/*start(board) ---*/
.ic_ui_board,
.ic_ui_board #ic_ui_board,
.ic_ui_board table,
.ic_ui_board .ic_piece_holder,
.ic_ui_board .ic_char {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.ic_ui_board {
  color: #333;
  font-size: 16px;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}

.ic_ui_board {
  background: #4c4c4c;
}
.ic_ui_board .ic_theme_wood {
  background: #615937;
}
.ic_ui_board .ic_theme_olive {
  background: #496137;
}
.ic_ui_board .ic_theme_magenta {
  background: #61373a;
}
.ic_ui_board .ic_theme_aqua {
  background: #375361;
}

.ic_ui_board .ic_frozen {
  cursor: default;
}

.ic_ui_board td {
  text-align: center;
  vertical-align: middle;
}

.ic_ui_board .ic_piece_holder {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  display: table;
}

.ic_ui_board .ic_font_merida .ic_piece_holder {
  background-size: 80%;
}

.ic_ui_board .ic_font_isepic .ic_piece_holder {
  background-size: 70%;
}

.ic_ui_board .ic_ws {
  background-color: #e0e0e0;
}
.ic_ui_board .ic_theme_wood .ic_ws {
  background-color: #eedbd2;
}
.ic_ui_board .ic_theme_olive .ic_ws {
  background-color: #eceed2;
}
.ic_ui_board .ic_theme_magenta .ic_ws {
  background-color: #eed2e2;
}
.ic_ui_board .ic_theme_aqua .ic_ws {
  background-color: #d2eee9;
}

.ic_ui_board .ic_bs {
  background-color: #767676;
}
.ic_ui_board .ic_theme_wood .ic_bs {
  background-color: #968a56;
}
.ic_ui_board .ic_theme_olive .ic_bs {
  background-color: #729656;
}
.ic_ui_board .ic_theme_magenta .ic_bs {
  background-color: #96565a;
}
.ic_ui_board .ic_theme_aqua .ic_bs {
  background-color: #568196;
}

.ic_ui_board .ic_ws.ic_lastmove {
  background-color: #c8c8c8;
}
.ic_ui_board .ic_theme_wood .ic_ws.ic_lastmove {
  background-color: #acbbe5;
}
.ic_ui_board .ic_theme_olive .ic_ws.ic_lastmove {
  background-color: #edace5;
}
.ic_ui_board .ic_theme_magenta .ic_ws.ic_lastmove {
  background-color: #ace5ee;
}
.ic_ui_board .ic_theme_aqua .ic_ws.ic_lastmove {
  background-color: #e5dbaa;
}

.ic_ui_board .ic_bs.ic_lastmove {
  background-color: #8c8c8c;
}
.ic_ui_board .ic_theme_wood .ic_bs.ic_lastmove {
  background-color: #7a8d9f;
}
.ic_ui_board .ic_theme_olive .ic_bs.ic_lastmove {
  background-color: #a87a9f;
}
.ic_ui_board .ic_theme_magenta .ic_bs.ic_lastmove {
  background-color: #7a9fa1;
}
.ic_ui_board .ic_theme_aqua .ic_bs.ic_lastmove {
  background-color: #9f9d7a;
}

.ic_ui_board .ic_incheck {
  background-image: radial-gradient(rgba(240, 115, 85, 0.8) 60%, transparent 100%);
}

.ic_ui_board .ic_highlight {
  background-image: radial-gradient(rgba(22, 22, 22, 0.18) 20%, rgba(0, 0, 0, 0) 0);
}
.ic_ui_board .ic_theme_wood .ic_highlight {
  background-image: radial-gradient(rgba(16, 18, 28, 0.18) 20%, rgba(0, 0, 0, 0) 0);
}
.ic_ui_board .ic_theme_olive .ic_highlight {
  background-image: radial-gradient(rgba(23, 16, 28, 0.18) 20%, rgba(0, 0, 0, 0) 0);
}
.ic_ui_board .ic_theme_magenta .ic_highlight {
  background-image: radial-gradient(rgba(16, 28, 27, 0.18) 20%, rgba(0, 0, 0, 0) 0);
}
.ic_ui_board .ic_theme_aqua .ic_highlight {
  background-image: radial-gradient(rgba(28, 20, 16, 0.18) 20%, rgba(0, 0, 0, 0) 0);
}

.ic_ui_board .ic_highlight.ic_capture {
  background-image: radial-gradient(transparent 0%, transparent 80%, rgba(22, 22, 22, 0.24) 80%);
}
.ic_ui_board .ic_theme_wood .ic_highlight.ic_capture {
  background-image: radial-gradient(transparent 0%, transparent 80%, rgba(16, 18, 28, 0.24) 80%);
}
.ic_ui_board .ic_theme_olive .ic_highlight.ic_capture {
  background-image: radial-gradient(transparent 0%, transparent 80%, rgba(23, 16, 28, 0.24) 80%);
}
.ic_ui_board .ic_theme_magenta .ic_highlight.ic_capture {
  background-image: radial-gradient(transparent 0%, transparent 80%, rgba(16, 28, 27, 0.24) 80%);
}
.ic_ui_board .ic_theme_aqua .ic_highlight.ic_capture {
  background-image: radial-gradient(transparent 0%, transparent 80%, rgba(28, 20, 16, 0.24) 80%);
}

.ic_ui_board .ic_ws.ic_selected,
.ic_ui_board .ic_bs.ic_selected {
  background-image: none;
}

.ic_ui_board .ic_ws.ic_selected {
  background-color: #8e8e8e;
}
.ic_ui_board .ic_theme_wood .ic_ws.ic_selected {
  background-color: #fdde1b;
}
.ic_ui_board .ic_theme_olive .ic_ws.ic_selected {
  background-color: #fde01b;
}
.ic_ui_board .ic_theme_magenta .ic_ws.ic_selected {
  background-color: #fddc1d;
}
.ic_ui_board .ic_theme_aqua .ic_ws.ic_selected {
  background-color: #f9e01e;
}

.ic_ui_board .ic_bs.ic_selected {
  background-color: #7d7d7d;
}
.ic_ui_board .ic_theme_wood .ic_bs.ic_selected {
  background-color: #f1d30b;
}
.ic_ui_board .ic_theme_olive .ic_bs.ic_selected {
  background-color: #edd50b;
}
.ic_ui_board .ic_theme_magenta .ic_bs.ic_selected {
  background-color: #f1cc0c;
}
.ic_ui_board .ic_theme_aqua .ic_bs.ic_selected {
  background-color: #e9d213;
}

.ic_ui_board .ic_font_merida .ic_bp {
  background-image: url('./images/chess-fonts/merida/bp.png');
}
.ic_ui_board .ic_font_merida .ic_br {
  background-image: url('./images/chess-fonts/merida/br.png');
}
.ic_ui_board .ic_font_merida .ic_bn {
  background-image: url('./images/chess-fonts/merida/bn.png');
}
.ic_ui_board .ic_font_merida .ic_bb {
  background-image: url('./images/chess-fonts/merida/bb.png');
}
.ic_ui_board .ic_font_merida .ic_bq {
  background-image: url('./images/chess-fonts/merida/bq.png');
}
.ic_ui_board .ic_font_merida .ic_bk {
  background-image: url('./images/chess-fonts/merida/bk.png');
}
.ic_ui_board .ic_font_merida .ic_wp {
  background-image: url('./images/chess-fonts/merida/wp.png');
}
.ic_ui_board .ic_font_merida .ic_wr {
  background-image: url('./images/chess-fonts/merida/wr.png');
}
.ic_ui_board .ic_font_merida .ic_wn {
  background-image: url('./images/chess-fonts/merida/wn.png');
}
.ic_ui_board .ic_font_merida .ic_wb {
  background-image: url('./images/chess-fonts/merida/wb.png');
}
.ic_ui_board .ic_font_merida .ic_wq {
  background-image: url('./images/chess-fonts/merida/wq.png');
}
.ic_ui_board .ic_font_merida .ic_wk {
  background-image: url('./images/chess-fonts/merida/wk.png');
}

.ic_ui_board .ic_font_isepic .ic_bp {
  background-image: url('./images/chess-fonts/isepic/bp.png');
}
.ic_ui_board .ic_font_isepic .ic_br {
  background-image: url('./images/chess-fonts/isepic/br.png');
}
.ic_ui_board .ic_font_isepic .ic_bn {
  background-image: url('./images/chess-fonts/isepic/bn.png');
}
.ic_ui_board .ic_font_isepic .ic_bb {
  background-image: url('./images/chess-fonts/isepic/bb.png');
}
.ic_ui_board .ic_font_isepic .ic_bq {
  background-image: url('./images/chess-fonts/isepic/bq.png');
}
.ic_ui_board .ic_font_isepic .ic_bk {
  background-image: url('./images/chess-fonts/isepic/bk.png');
}
.ic_ui_board .ic_font_isepic .ic_wp {
  background-image: url('./images/chess-fonts/isepic/wp.png');
}
.ic_ui_board .ic_font_isepic .ic_wr {
  background-image: url('./images/chess-fonts/isepic/wr.png');
}
.ic_ui_board .ic_font_isepic .ic_wn {
  background-image: url('./images/chess-fonts/isepic/wn.png');
}
.ic_ui_board .ic_font_isepic .ic_wb {
  background-image: url('./images/chess-fonts/isepic/wb.png');
}
.ic_ui_board .ic_font_isepic .ic_wq {
  background-image: url('./images/chess-fonts/isepic/wq.png');
}
.ic_ui_board .ic_font_isepic .ic_wk {
  background-image: url('./images/chess-fonts/isepic/wk.png');
}

.ic_ui_board .ic_label {
  font-size: 2.2vmin;
  font-weight: bold;
  color: #c0c0c0;
  top: 0%;
  left: 0%;
  cursor: default;
}

.ic_ui_board .ic_char {
  position: relative;
}

.ic_ui_board .ic_char span {
  height: 50%;
  width: 50%;
  position: absolute;
  top: 25%;
  left: 25%;
}

.ic_ui_board .ic_dot {
  color: #4c4c4c;
}
.ic_ui_board .ic_theme_wood .ic_dot {
  color: #615937;
}
.ic_ui_board .ic_theme_olive .ic_dot {
  color: #496137;
}
.ic_ui_board .ic_theme_magenta .ic_dot {
  color: #61373a;
}
.ic_ui_board .ic_theme_aqua .ic_dot {
  color: #375361;
}

.ic_ui_board .ic_b_color .ic_char {
  color: #010101;
}

.ic_ui_board .ic_w_color .ic_char {
  color: #fefefe;
}
/*end(board) ---*/

/*start(material_diff) ---*/
.ic_ui_material_diff {
  color: #333;
  font-size: 16px;
  text-align: left;
}

.ic_ui_material_diff hr {
  margin: 2px 0;
  padding: 0;
  border: 0;
  border-top: 1px solid #e5e5e5;
}

.ic_ui_material_diff img {
  margin: 2px;
  background: transparent;
  opacity: 0.5;
  filter: alpha(opacity=50);
}
/*end(material_diff) ---*/

/*start(controls) ---*/
.ic_ui_controls {
  color: #333;
  font-size: 16px;
}

.ic_ui_controls select {
  padding: 5px;
  font-size: 15px;
}

.ic_ui_controls input {
  padding: 9px;
  font-size: 15px;
  border: 1px solid #ccc;
  background: #fafafa;
  cursor: pointer;
}

.ic_ui_controls input:hover {
  color: #3e6640;
  background: #fff;
}

.ic_ui_controls input[type='text'] {
  box-sizing: border-box;
  width: 100%;
}

.ic_ui_controls input.ic_disabled {
  color: #ccc;
  border-color: #ddd;
  background: #f2f2f2;
  cursor: default;
}
/*end(controls) ---*/

/*start(board_tabs) ---*/
.ic_ui_board_tabs {
  color: #333;
  font-size: 16px;
}

.ic_ui_board_tabs .ic_disabled {
  color: #808080;
}
/*end(board_tabs) ---*/

/*start(move_list) ---*/
.ic_ui_move_list {
  color: #333;
  font-size: 16px;
  line-height: 25px;
}

.ic_ui_move_list .ic_pgn_number,
.ic_ui_move_list .ic_pgn_comment,
.ic_ui_move_list .ic_pgn_comment_active,
.ic_ui_move_list .ic_pgn_result,
.ic_ui_move_list .ic_pgn_link,
.ic_ui_move_list .ic_pgn_active {
  padding: 2px 1px;
}

.ic_ui_move_list .ic_pgn_number {
  font-weight: bold;
}

.ic_ui_move_list .ic_pgn_comment {
  font-style: italic;
  color: #c5c5c5;
}

.ic_ui_move_list .ic_pgn_comment_active {
  font-style: italic;
  color: #662;
  background: #f2f7c3;
}

.ic_ui_move_list .ic_pgn_result {
  font-style: italic;
  color: #555;
}

.ic_ui_move_list .ic_pgn_link {
  color: #4862a3;
  cursor: pointer;
}

.ic_ui_move_list .ic_pgn_link:hover {
  color: #222;
  background: #efefef;
}

.ic_ui_move_list .ic_pgn_active {
  color: #222;
  background: #e6e6e6;
}

.ic_ui_move_list .ic_pgn_complete {
  font-size: 18px;
  line-height: 35px;
  color: #197030;
}

.ic_ui_move_list .ic_pgn_find {
  font-size: 18px;
  line-height: 35px;
  color: #6b6b6b;
}
/*end(move_list) ---*/

/*start(push_alerts) ---*/
.ic_ui_push_alerts #ic_ui_push_alerts_top {
  position: fixed;
  right: 20px;
  top: 0px;
}

.ic_ui_push_alerts #ic_ui_push_alerts_bottom {
  position: fixed;
  right: 20px;
  bottom: 0px;
}

.ic_ui_push_alerts .ic_alert_box {
  width: 300px;
  position: relative;
  padding: 15px 50px 15px 20px;
  cursor: default;
  font-size: 15px;
  text-align: left;
  border: 1px solid #efefef;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  background-color: #fafafa;
  visibility: hidden;
  opacity: 0;
  transition: opacity 3.5s, top 0.2s, visibility 0.2s;
  z-index: 9999;
}

.ic_ui_push_alerts .ic_alert_animation {
  visibility: visible;
  opacity: 1;
  animation: slide_animation 0.7s ease forwards;
  transition: margin-top 0.7s;
}

@keyframes slide_animation {
  0% {
    transform: translateX(100%);
  }
  40% {
    transform: translateX(-13%);
  }
  100% {
    transform: translateX(0%);
  }
}

.ic_ui_push_alerts .ic_alert_close {
  height: 15px;
  width: 15px;
  position: absolute;
  top: 50%;
  right: 10px;
  cursor: pointer;
  font-size: 10px;
  font-weight: bold;
  line-height: 15px;
  text-align: center;
  color: #333;
  transform: translateY(-50%);
  border-radius: 50%;
  background-color: #ddd;
  padding: 5px;
}

.ic_ui_push_alerts .ic_alert_close:hover {
  background-color: #ccc;
}

.ic_ui_push_alerts .ic_alert_hidden {
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s linear;
}
/*end(push_alerts) ---*/

/*start(debug) ---*/
.ic_ui_debug {
  color: #333;
  font-size: 16px;
}

.ic_ui_debug ul {
  margin: 0;
  padding: 0;
  font-family: monospace;
  white-space: pre;
  color: #4a8296;
}

.ic_ui_debug li {
  margin: 0 0 0 25px;
  padding: 0;
}

.ic_ui_debug li strong {
  color: #735d62;
}
/*end(debug) ---*/
