body{
	margin: 0;
	padding: 0;
}

/*start(main) ---*/
.ic_ui_main{
	padding: 5px 10px;
	font-family: Helvetica, Arial, sans-serif;
	background: #eee;
	min-width: 500px;
}

.ic_ui_main a, .ic_ui_main a:visited{
	color: #429e47;
	text-decoration: none;
}

.ic_ui_main a:hover, .ic_ui_main a:focus{
	color: #3fbf46;
	text-decoration: none;
}

.ic_ui_main a:active{
	color: #63664b;
}

.ic_ui_main p{
	font-size: 15px;
	color: #777;
}

.ic_ui_main hr{
	margin: 7px 0;
	padding: 0;
	border: 0;
	border-top: 1px solid #ccc;
}
/*start(main) ---*/

/*start(header) ---*/
.ic_ui_header{
	color: #333;
	font-size: 15px;
	/*2020 border: 1px solid #c7c56d;*/
	/*2020 background: #edeb9f;*/
}

.ic_ui_header h3{
	margin: 0;
	padding: 0;
	font-size: 17px;
	color: #696969;
}

.ic_ui_header h3 a{
	padding: 0 9px;
	font-size: 15px;
}
/*end(header) ---*/

/*start(board) ---*/
.ic_ui_board, .ic_ui_board #ic_ui_board, .ic_ui_board table, .ic_ui_board .ic_piece_holder, .ic_ui_board .ic_char{
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

.ic_ui_board{
	color: #333;
	font-size: 16px;
	border: 1px solid #ccc;
	background: #e3e3e3;
}

.ic_ui_board td{
	text-align: center;
	vertical-align: middle;
}

.ic_ui_board .ic_piece_holder{
	background-repeat: no-repeat;
	background-size: 75%;
	background-position: 50% 50%;
	display: table;
}

.ic_ui_board .ic_ws{background-color: #93d798;}
.ic_ui_board .ic_bs{background-color: #3dae60;}

.ic_ui_board .ic_ws.ic_lastmove{background-color: #62e95f;}
.ic_ui_board .ic_bs.ic_lastmove{background-color: #43da4b;}

.ic_ui_board .ic_ws.ic_highlight{background-color: #3bebc5!important;}
.ic_ui_board .ic_bs.ic_highlight{background-color: #1cdcb1!important;}

.ic_ui_board .ic_ws.ic_currpiece{background-color: #daf71d!important;}
.ic_ui_board .ic_bs.ic_currpiece{background-color: #c9f012!important;}

.ic_ui_board .ic_bp{background-image: url('./images/bp.png');}
.ic_ui_board .ic_br{background-image: url('./images/br.png');}
.ic_ui_board .ic_bn{background-image: url('./images/bn.png');}
.ic_ui_board .ic_bb{background-image: url('./images/bb.png');}
.ic_ui_board .ic_bq{background-image: url('./images/bq.png');}
.ic_ui_board .ic_bk{background-image: url('./images/bk.png');}
.ic_ui_board .ic_wp{background-image: url('./images/wp.png');}
.ic_ui_board .ic_wr{background-image: url('./images/wr.png');}
.ic_ui_board .ic_wn{background-image: url('./images/wn.png');}
.ic_ui_board .ic_wb{background-image: url('./images/wb.png');}
.ic_ui_board .ic_wq{background-image: url('./images/wq.png');}
.ic_ui_board .ic_wk{background-image: url('./images/wk.png');}

.ic_ui_board .ic_label{
	font-size: 2.2vmin;
	font-weight: bold;
	color: #9bab9e;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	top: 0%;
	left: 0%;
}

.ic_ui_board .ic_char{
	position: relative;
}

.ic_ui_board .ic_char span{
	height: 50%;
	width: 50%;
	position: absolute;
	top: 25%;
	left: 25%;
}

.ic_ui_board .ic_dot{
	color: #e3e3e3;
}

.ic_ui_board .ic_b_color{
	color: #666;
}

.ic_ui_board .ic_w_color{
	color: #fefefe;
}
/*end(board) ---*/

/*start(materialdiff) ---*/
.ic_ui_materialdiff{
	color: #333;
	font-size: 16px;
	/*2020 border: 1px solid #8cd4c6;*/
	/*2020 background: #c1f5eb;*/
	text-align: left;
}

.ic_ui_materialdiff hr{
	margin: 2px 0;
	padding: 0;
	border: 0;
	border-top: 1px solid #e5e5e5;
}

.ic_ui_materialdiff img{
	margin: 2px;
	background: transparent;
	opacity: 0.5;
	filter: alpha(opacity=50);
}
/*end(materialdiff) ---*/

/*start(controls) ---*/
.ic_ui_controls{
	color: #333;
	font-size: 16px;
	/*2020 border: 1px solid #8cd4c6;*/
	/*2020 background: #c1f5eb;*/
}

.ic_ui_controls select{
	padding: 5px;
	font-size: 15px;
}

.ic_ui_controls input{
	padding: 9px;
	font-size: 15px;
	border: 1px solid #ccc;
	background: #fafafa;
	cursor: pointer;
}

.ic_ui_controls input:hover{
	color: #3e6640;
	background: #fff;
}

.ic_ui_controls input[type=text]{
	box-sizing: border-box;
	width: 100%;
}

/* - */

.ic_ui_tabs{
	color: #333;
	font-size: 16px;
	/*2020 border: 1px solid #b281c7;*/
	/*2020 background: #e4c9f0;*/
}

.ic_ui_tabs .ic_disabled{
	color: #808080;
}

/* - */

.ic_ui_movelist{
	color: #333;
	font-size: 17px;
	/*2020 border: 1px solid #c4cca7;*/
	/*2020 background: #eef2df;*/
}

.ic_ui_movelist .ic_pgn_number{
	font-weight: bold;
}

.ic_ui_movelist .ic_pgn_result{
	font-style: italic;
	color: #777;
}

.ic_ui_movelist .ic_pgn_current{
	color: #222;
	background: #fefe9b;
}

.ic_ui_movelist .ic_pgn_link{
	color: #4862a3;
	cursor: pointer;
}

.ic_ui_movelist .ic_pgn_link:hover{
	color: #222;
	background: #e0e0e0;
}
/*end(controls) ---*/

/*start(debug) ---*/
.ic_ui_debug{
	color: #333;
	font-size: 16px;
	/*2020 border: 1px solid #b2c8cf;*/
	/*2020 background: #e9f4f7;*/
}

.ic_ui_debug ul{
	margin: 0;
	padding: 0;
	font-family: monospace;
	white-space: pre;
	color: #4a8296;
}

.ic_ui_debug li{
	margin: 0 0 0 25px;
	padding: 0;
}

.ic_ui_debug li strong{
	color: #735d62;
}
/*end(debug) ---*/
