/*start(main) ---*/
.ic_ui_main{
	padding: 5px 10px;
	font-family: Helvetica, Arial, sans-serif;
	background: #eee;
	min-width: 500px;
}

.ic_ui_main a, .ic_ui_main a:visited{
	color: #429e47;
	text-decoration: none;
}

.ic_ui_main a:hover, .ic_ui_main a:focus{
	color: #3fbf46;
	text-decoration: none;
}

.ic_ui_main a:active{
	color: #63664b;
}

.ic_ui_main p{
	font-size: 15px;
	color: #777;
}

.ic_ui_main hr{
	margin: 7px 0;
	padding: 0;
	border: 0;
	border-top: 1px solid #ccc;
}
/*end(main) ---*/

/*start(header) ---*/
.ic_ui_header{
	color: #333;
	font-size: 15px;
}

.ic_ui_header h3{
	margin: 0;
	padding: 0;
	font-size: 17px;
	color: #696969;
}

.ic_ui_header h3 a{
	padding: 0 9px;
	font-size: 15px;
}
/*end(header) ---*/

/*start(board) ---*/
.ic_ui_board, .ic_ui_board #ic_ui_board, .ic_ui_board table, .ic_ui_board .ic_piece_holder, .ic_ui_board .ic_char{
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

.ic_ui_board{
	color: #333;
	font-size: 16px;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background: #5e828c;
	cursor: pointer;
}

.ic_ui_board .ic_frozen{
	cursor: default;
}

.ic_ui_board td{
	text-align: center;
	vertical-align: middle;
}

.ic_ui_board .ic_piece_holder{
	background-repeat: no-repeat;
	background-position: 50% 50%;
	display: table;
}

.ic_ui_board .ic_merida .ic_piece_holder{
	background-size: 80%;
}

.ic_ui_board .ic_isepic .ic_piece_holder{
	background-size: 70%;
}

.ic_ui_board .ic_ws{background-color: #c6d2d5;}
.ic_ui_board .ic_bs{background-color: #6d96a1;}

.ic_ui_board .ic_ws.ic_lastmove{background-color: #91dadb;}
.ic_ui_board .ic_bs.ic_lastmove{background-color: #65bdc4;}

.ic_ui_board .ic_incheck{
	background-image: radial-gradient(rgba(240, 115, 85, 0.8) 60%, transparent 100%);
}

.ic_ui_board .ic_highlight{
	background-image: radial-gradient(rgba(135, 17, 145, 0.3) 20%, rgba(0, 0, 0, 0) 0);
}

.ic_ui_board .ic_highlight.ic_capture{
	background-image: radial-gradient(transparent 0%, transparent 80%, rgba(135, 17, 145, 0.5) 80%);
}

.ic_ui_board .ic_ws.ic_selected{
	background-color: #cd91db;
	background-image: none;
}

.ic_ui_board .ic_bs.ic_selected{
	background-color: #b865c4;
	background-image: none;
}

.ic_ui_board .ic_merida .ic_bp{background-image: url('./images/chess-fonts/merida/bp.png');}
.ic_ui_board .ic_merida .ic_br{background-image: url('./images/chess-fonts/merida/br.png');}
.ic_ui_board .ic_merida .ic_bn{background-image: url('./images/chess-fonts/merida/bn.png');}
.ic_ui_board .ic_merida .ic_bb{background-image: url('./images/chess-fonts/merida/bb.png');}
.ic_ui_board .ic_merida .ic_bq{background-image: url('./images/chess-fonts/merida/bq.png');}
.ic_ui_board .ic_merida .ic_bk{background-image: url('./images/chess-fonts/merida/bk.png');}
.ic_ui_board .ic_merida .ic_wp{background-image: url('./images/chess-fonts/merida/wp.png');}
.ic_ui_board .ic_merida .ic_wr{background-image: url('./images/chess-fonts/merida/wr.png');}
.ic_ui_board .ic_merida .ic_wn{background-image: url('./images/chess-fonts/merida/wn.png');}
.ic_ui_board .ic_merida .ic_wb{background-image: url('./images/chess-fonts/merida/wb.png');}
.ic_ui_board .ic_merida .ic_wq{background-image: url('./images/chess-fonts/merida/wq.png');}
.ic_ui_board .ic_merida .ic_wk{background-image: url('./images/chess-fonts/merida/wk.png');}

.ic_ui_board .ic_isepic .ic_bp{background-image: url('./images/chess-fonts/isepic/bp.png');}
.ic_ui_board .ic_isepic .ic_br{background-image: url('./images/chess-fonts/isepic/br.png');}
.ic_ui_board .ic_isepic .ic_bn{background-image: url('./images/chess-fonts/isepic/bn.png');}
.ic_ui_board .ic_isepic .ic_bb{background-image: url('./images/chess-fonts/isepic/bb.png');}
.ic_ui_board .ic_isepic .ic_bq{background-image: url('./images/chess-fonts/isepic/bq.png');}
.ic_ui_board .ic_isepic .ic_bk{background-image: url('./images/chess-fonts/isepic/bk.png');}
.ic_ui_board .ic_isepic .ic_wp{background-image: url('./images/chess-fonts/isepic/wp.png');}
.ic_ui_board .ic_isepic .ic_wr{background-image: url('./images/chess-fonts/isepic/wr.png');}
.ic_ui_board .ic_isepic .ic_wn{background-image: url('./images/chess-fonts/isepic/wn.png');}
.ic_ui_board .ic_isepic .ic_wb{background-image: url('./images/chess-fonts/isepic/wb.png');}
.ic_ui_board .ic_isepic .ic_wq{background-image: url('./images/chess-fonts/isepic/wq.png');}
.ic_ui_board .ic_isepic .ic_wk{background-image: url('./images/chess-fonts/isepic/wk.png');}

.ic_ui_board .ic_label{
	font-size: 2.2vmin;
	font-weight: bold;
	color: #c0c0c0;
	top: 0%;
	left: 0%;
	cursor: default;
}

.ic_ui_board .ic_char{
	position: relative;
}

.ic_ui_board .ic_char span{
	height: 50%;
	width: 50%;
	position: absolute;
	top: 25%;
	left: 25%;
}

.ic_ui_board .ic_dot{
	color: #5e828c;
}

.ic_ui_board .ic_b_color{
	color: #010101;
}

.ic_ui_board .ic_w_color{
	color: #fefefe;
}
/*end(board) ---*/

/*start(material_diff) ---*/
.ic_ui_material_diff{
	color: #333;
	font-size: 16px;
	text-align: left;
}

.ic_ui_material_diff hr{
	margin: 2px 0;
	padding: 0;
	border: 0;
	border-top: 1px solid #e5e5e5;
}

.ic_ui_material_diff img{
	margin: 2px;
	background: transparent;
	opacity: 0.5;
	filter: alpha(opacity=50);
}
/*end(material_diff) ---*/

/*start(controls) ---*/
.ic_ui_controls{
	color: #333;
	font-size: 16px;
}

.ic_ui_controls select{
	padding: 5px;
	font-size: 15px;
}

.ic_ui_controls input{
	padding: 9px;
	font-size: 15px;
	border: 1px solid #ccc;
	background: #fafafa;
	cursor: pointer;
}

.ic_ui_controls input:hover{
	color: #3e6640;
	background: #fff;
}

.ic_ui_controls input[type=text]{
	box-sizing: border-box;
	width: 100%;
}

.ic_ui_controls input.ic_disabled{
	color: #ccc;
	border-color: #ddd;
	background: #f2f2f2;
	cursor: default;
}
/*end(controls) ---*/

/*start(board_tabs) ---*/
.ic_ui_board_tabs{
	color: #333;
	font-size: 16px;
}

.ic_ui_board_tabs .ic_disabled{
	color: #808080;
}
/*end(board_tabs) ---*/

/*start(move_list) ---*/
.ic_ui_move_list{
	color: #333;
	font-size: 16px;
	line-height: 25px;
}

.ic_ui_move_list .ic_pgn_number, .ic_ui_move_list .ic_pgn_comment, .ic_ui_move_list .ic_pgn_comment_active, .ic_ui_move_list .ic_pgn_result, .ic_ui_move_list .ic_pgn_link, .ic_ui_move_list .ic_pgn_active{
	padding: 2px 1px;
}

.ic_ui_move_list .ic_pgn_number{
	font-weight: bold;
}

.ic_ui_move_list .ic_pgn_comment{
	font-style: italic;
	color: #c5c5c5;
}

.ic_ui_move_list .ic_pgn_comment_active{
	font-style: italic;
	color: #662;
	background: #f2f7c3;
}

.ic_ui_move_list .ic_pgn_result{
	font-style: italic;
	color: #555;
}

.ic_ui_move_list .ic_pgn_link{
	color: #4862a3;
	cursor: pointer;
}

.ic_ui_move_list .ic_pgn_link:hover{
	color: #222;
	background: #efefef;
}

.ic_ui_move_list .ic_pgn_active{
	color: #222;
	background: #e6e6e6;
}

.ic_ui_move_list .ic_pgn_complete{
	font-size: 18px;
	line-height: 35px;
	color: #197030;
}

.ic_ui_move_list .ic_pgn_find{
	font-size: 18px;
	line-height: 35px;
	color: #6b6b6b;
}
/*end(move_list) ---*/

/*start(debug) ---*/
.ic_ui_debug{
	color: #333;
	font-size: 16px;
}

.ic_ui_debug ul{
	margin: 0;
	padding: 0;
	font-family: monospace;
	white-space: pre;
	color: #4a8296;
}

.ic_ui_debug li{
	margin: 0 0 0 25px;
	padding: 0;
}

.ic_ui_debug li strong{
	color: #735d62;
}
/*end(debug) ---*/
